# EditorConfig for CSA-in-a-Box
# https://editorconfig.org

root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{bicep,json,yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.ps1]
indent_size = 4
end_of_line = crlf

[Makefile]
indent_style = tab

[*.{sql}]
indent_size = 4

[*.{py}]
indent_size = 4
max_line_length = 120
